################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/First Project/EmployeeManagemnet/.vs/EmployeeManagemnet
/First Project/EmployeeManagemnet/.vs/ProjectEvaluation
/Restaurants/.vs/Restaurants
/Restaurants/Restaurants.API/bin/Debug/net8.0
/Restaurants/Restaurants.API/obj
