################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/First Project/EmployeeManagemnet/.vs/EmployeeManagemnet
/First Project/EmployeeManagemnet/.vs/ProjectEvaluation
/Restaurants/.vs/Restaurants
/Restaurants/Restaurants.API/bin/Debug/net8.0
/Restaurants/Restaurants.API/obj
/BethysPieShop/MvcDemo/.vs/MvcDemo
/BethysPieShop/MvcDemo/MvcDemo/obj
/BethysPieShop/BethanysPieShop/.vs/BethanysPieShop
/BethysPieShop/BethanysPieShop/BethanysPieShop/obj
/BethysPieShop/BethanysPieShop/BethanysPieShop/bin/Debug/net8.0
/BethysPieShop/MvcDemo/.vs/ProjectEvaluation
/BethysPieShop/BethanysPieShop/.vs/ProjectEvaluation
/BethysPieShop/BethanysPieShop/BethanysPieShop/Migrations/20250330135813_initial-Migration1.cs
/BethysPieShop/BethanysPieShop/BethanysPieShop/Migrations/20250322151815_InitialMigration.Designer.cs
/BethysPieShop/BethanysPieShop/BethanysPieShop/Migrations/20250330135813_initial-Migration1.Designer.cs
/C#Core/DemoWebApi/.vs
/DemoWebApi/.vs/DemoWebApi/FileContentIndex
/DemoWebApi/DemoWebApi/bin/Debug/net8.0
/DemoWebApi/.vs