################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/First Project/EmployeeManagemnet/.vs/EmployeeManagemnet
/First Project/EmployeeManagemnet/.vs/ProjectEvaluation
/Restaurants/.vs/Restaurants
/Restaurants/Restaurants.API/bin/Debug/net8.0
/Restaurants/Restaurants.API/obj
/BethysPieShop/MvcDemo/.vs/MvcDemo
/BethysPieShop/MvcDemo/MvcDemo/obj
/BethysPieShop/BethanysPieShop/.vs/BethanysPieShop
/BethysPieShop/BethanysPieShop/BethanysPieShop/obj
/BethysPieShop/BethanysPieShop/BethanysPieShop/bin/Debug/net8.0
/BethysPieShop/MvcDemo/.vs/ProjectEvaluation
/BethysPieShop/BethanysPieShop/.vs/ProjectEvaluation
